[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

[Service]
Restart=on-failure
RestartSec=3
ExecStart=/home/rithviz/.local/share/systemd/user/swhkd-hotkeys.service.sh

[Install]
WantedBy=default.target
