[Unit]
Description=swhkd hotkey daemon
BindsTo=default.target

[Service]
Type=simple
ExecStart=/home/rithviz/.local/share/systemd/user/swhkd-hotkeys.service.sh

[Install]
WantedBy=default.target
